
//responsive mixin endpoints for mobile tablet and pc

@mixin respond($breakpoint) {
  @if  $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content }; //600px
  }
  @if  $breakpoint == tab-port {
      @media only screen and  (max-width: 52.25em) { @content }; //900px
  }
  @if  $breakpoint == tab-land {
      @media only screen and  (max-width: 75em) { @content }; //1200px
  }
  @if  $breakpoint == big-desktop {
      @media only screen and  (max-width: 112.5em) { @content }; //1800px
  }
}

//clearfix mixin for clearing floats
@mixin clearfix {
  &:after, 
  &:before {
		content: " ";
		display: block;
		clear: both;
	}
}

//reset
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #b7b7b7;
  background-color: #010101;
  -webkit-font-smoothing: antialiased;
}
ol{
    list-style:none;
}
.section-timeline{
    height: 100vh;
    overflow: scroll;
  }
.container{
    width: 85%;
    max-width: 1200px;
    margin: 4em auto;
    
}
.wraper{
    text-align: center;
}
.header{
    margin-bottom:4rem;
    position: relative;  
    h1 {
      font-size:6rem;
      @include respond(phone){
        font-size: 5rem;
      }

      &::after,
      &::before{
        content: " ";
        position: absolute;
        width:10rem ;
        height: 3px;
        background-color: #fff;
       
      }
      &::after{
        right:17rem;
        @include respond(tab-land){
          right: 15rem;;
        }
        @include respond(tab-port){
          right: 7rem;;
        }
        @include respond(phone){
          right: 1rem;
        }
      }
      &::before{
          top:10rem;
          width: 18rem;
          @include respond(tab-land){
            top: 10rem;
            width: 22rem;
          }
          @include respond(tab-port){
            top: 10rem;
            width: 20rem;
          }
          @include respond(phone){
            top:8.5rem;
            width: 18rem;
          }
      }
    }
    p{
        text-transform: uppercase;
        text-align: right;
        margin-right: 20rem;
        color: #bd1313;
        font-weight: 900;
        @include respond(tab-land){
          margin-right: 15rem;
        }
        @include respond(tab-port){
          margin-right: 7rem;
        }
        @include respond(phone){
          margin-right:0;
        }
    }
}
.timeline{
    position: relative;
    display: table;
    @include clearfix();
    &::before{
        content: " ";
        position: absolute;
        width:3px;
        height: 100%;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    @include respond(phone){
      &::before{
        left:0;
      }
    }
    &__item {  
        position: relative;
        margin-bottom: 2em;
        color: #fff;
        text-transform: uppercase;
        @include clearfix();
        h2 {
          text-align:left;
          @include respond(tab-port){
            font-size: 20px;
          }
        }
        p {
          font-size: 11px;
          text-align: justify;
          text-transform:lowercase;
          
        }
        
      }
      &__item-dot{
        content:"";
        position:absolute;
        background-color: #010101;
        width:16px;
        height:16px;
        border-radius:50%;
        border:3px solid #fff;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        margin-top: 45px;
        @include respond(phone){
          left: 0;
          margin-top:35px;
        }
      }
      &__content{
        position: relative;
        display: block;
        margin-left: 1em;
        padding: 1em;
        width: calc(50% - 4em);
        float: left;
        margin-top: 20px;
        
        @include respond(phone){
          width: calc(100% - 4em);
        }
      }

      &__date{
        font-size: 70px;
        font-weight: 900; 
        color: #69686883;
        @include respond(tab-port){
          font-size: 55px;
        }

        &-left{
          float: right;
          margin-right: 8%;
          @include respond(tab-land){
            margin-left:30px;
          }
          @include respond(tab-port){
            margin-top: 10px;
            margin-right: 0px;
          }
          @include respond(phone){
            float: none;
            margin-left: 30px;
          }
        }
        &-right{
          float: left;
          margin-left: 8%;
          @include respond(tab-land){
            margin-left: 70px; 
          }
          @include respond(tab-port){
            margin-top: 10px;
            margin-left: 0px;
          }
          @include respond(phone){
            float: none;
            margin-left: 30px;
            
          }
        }
  
      }
    }
    .timeline__content--flipped {    
        float: right;
        @include respond(phone){
          float: none;
        }
    }
    